@charset "utf-8";

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    max-width: 100%;
}

.nav-link:hover {
    transform: scale(0.9);
    transition: all 0.5s;
}

.progress_bar {
    height: 5px;
}

.navbar {
    background: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.navbar.scrolled {
    background: rgba(255, 255, 255, 0.3); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar-toggler-icon i {
    color: black !important;
}

/* When scrolled — change color */
.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-toggler-icon i {
    color: #dc3545 !important; /* or any color you want */
}


/*  =================================================================================
                                       Home Page
    ================================================================================= */

.home {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
      
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

.home h1 {
    font-size: 15vh;
    margin-top: -20vh;
    margin-left: 0.5em;
    display: inline-block
}

.home icons {
    margin-top: 10vh;
}
    
.buttons {
    margin: 15px 0;   
}

.buttons * {
    opacity: 0.6;
}

.buttons button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    color: #000; /* Default text and icon color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.buttons button:hover {
    background-color: #dc3545;
    color: #fff; /* Change text and icon color to white on hover */
    opacity: 1; /* Ensure full opacity on hover */
}

.languages {
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 10px; /* Adjust the space between the <p> and <span> */
    margin: 15px 0;
    font-size: 14px;
    color: #333;
    flex-wrap: wrap;
}

.languages p {
    margin: 0; /* Remove default margin */
}

.languages span {
    margin: 0; /* Remove default margin */
}

    
.updated {
    font-size: 12px;
    color: #999;
}

code {
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #e1e1e1; /* Light border */
    border-radius: 4px; /* Rounded corners */
    padding: 2px 4px; /* Padding around the text */
    font-family: "Courier New", Courier, monospace; /* Monospace font */
    font-size: 90%; /* Slightly smaller font size */
    color: black; /* Text color (optional) */
    font-weight: bold;
}

.documentation-container {
    display: flex;    
    gap: 20px;                
    justify-content: center;    
    flex-wrap: wrap;        
}
    
.documentation-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;  
    box-sizing: border-box;    
    margin: 1em 0; 
    border: 1px solid rgba(0, 0, 0, 0.1);        
}

.documentation-card h3 {
    font-size: 20px
}

.documentation-card p {
    margin: 10px 0;
    color: #555;
}

/*  =================================================================================
                                Projects - dropping texts
    ================================================================================= */

    
.dropping-texts {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100px; /* reserve space just enough for words like "Memorable" */
}

.left-text, .right-text {
    display: inline-flex;
    align-items: center;
    margin: 0 4px; /* tiny space left and right */
}

.dropping-texts > span {
    font-size: 0px;
    opacity: 0;
    position: absolute;
    font-weight: bold;  /* moved here if you want all spans bold */
    transition: opacity 0.5s ease-in-out, font-size 0.5s ease-in-out;
    white-space: nowrap;
    vertical-align: middle;
    margin-bottom: 16px;  /* no need for margin-bottom */
}

.dropping-texts > span:nth-child(1) {
    animation: roll 5s linear infinite 0s;
  }
  .dropping-texts > span:nth-child(2) {
    animation: roll 5s linear infinite 1.25s;
  }
  .dropping-texts > span:nth-child(3) {
    animation: roll 5s linear infinite 2.5s;
  }
  .dropping-texts > span:nth-child(4) {
    animation: roll 5s linear infinite 3.75s;
  }

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    transform: rotate(0deg);
  }
  20% {
    font-size: inherit;
    opacity: 1;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    transform: rotate(15deg);
  }
  100% {
    font-size: 0px;
    opacity: 0;
    transform: rotate(15deg);
  }
}

/*  =================================================================================
                                      Projects
    ================================================================================= */
.projects-container {
    display: flex;    
    gap: 20px;                
    justify-content: center;    
    flex-wrap: wrap;   
}

.project-cards-container {
    display: flex;    
    gap: 20px;                
    justify-content: center;    
    flex-wrap: wrap;        
}

/* Base styles for project cards */
.project-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: calc(33.3333333% - 20px);  
    box-sizing: border-box;    
    margin: 1em 0; 
    border: 1px solid rgba(0, 0, 0, 0.1);        
}

/* Responsive styles for medium screens */
@media (max-width: 1200px) {
    .project-card {
        width: calc(50% - 20px); /* 2 cards per row */
    }
}

.project-card h3 {
    margin: 0 0 10px;
    font-size: 20px;
}
  
.project-card p {
    margin: 10px 0;
    color: #555;
}

    /*  =================================================================================
                                        Footer
    ================================================================================= */

footer {
    background-color: #dc3545; /* Background color */
    color: white; /* Text color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center text */
    width: 100%;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.qlinks a {
    color: white;
    text-decoration: none; 
}

.follow-me a {
    text-decoration: none; 
    color: inherit; 
}

.icons {
    position: relative;
    flex-wrap: wrap;
    list-style: none;
}

.icons a {
    text-decoration: none; 
    color: inherit; 
}


.instagram, .github, .linkedin, .telegram, .email, .htb-icon {
    font-size: 5em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.htb-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle; 
    filter: brightness(0) invert(1);
    margin-bottom: 20px;
}

.instagram:hover, .github:hover, .linkedin:hover, .telegram:hover, .email:hover, .htb-icon:hover {
    transform: translateY(-10px)
}

/*  =================================================================================
                                      Animation
    ================================================================================= */

/* Fade ins */
.fade-in-left{
    animation: fadeInLeft 2.5s;
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(8vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}  
.fade-in-right{
    animation: fadeInRight 2.5s;
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-8vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}  
.fade-in-up{
    animation: fadeInUp 2.5s;
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(8vw);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}  
.fade-in-down{
    animation: fadeInDown 2.5s;
}
@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(-8vw);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* typewriter */
.typewriter-animation{
    overflow: hidden;
    border-right: .15em solid #d9534f;
    white-space: nowrap;
    height: fit-content;
    animation: 
        typing 2.5s steps(20, end),
        blink-caret .75s step-end;
}
  
/* The typing effect */
@keyframes typing{
    0%{width: 0}
    100%{width: 8em}
}
  
/* The blinking cursor */
@keyframes blink-caret{
    0%, 100%{
        border-color: transparent;
    }
    50%{
        border-color: #d9534f;
    }
}


/* progress bar animation */

.progress-bar-animation {
    animation: progressanimation 2s ease-in-out forwards
}

@keyframes progressanimation {
    0%{
        opacity: 0;
        transform: translateX(-8vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/*  =================================================================================
                                        resize
    ================================================================================= */

@media (max-width: 768px) {
    .project-card {
        width: calc(100% - 20px);
    }

    .home {
        height: auto; 
        padding: 10px;
    }

    .home h1 {
        font-size: 10vh; 
        margin: 0.2em; 
    }

    .home .icons {
        margin-top: 5vh;
    }

    .contact-button {
        margin-top: 3vh;
    }

    .tech_left, .tech_right, .soft-left, .soft-right {
        margin-top: 0 !important;
    }

    #view_milestones {
        margin-top: 10px !important;
    }

}

@media (max-width: 480px) {
    .project-card {
        margin: 0.5em 0; 
    }

    .project-card .repoButton {
        margin-top: 1vh;
    }

    .home h1 {
        font-size: 8vh; 
        margin: 0.1em; 
    }

    .home .icons {
        margin-top: 3vh;
    }

    .contact-button {
        margin-top: 2vh;
    }

    .icons a {
        font-size: 4em; 
        margin: 0 5px;
    }

    .instagram, .github, .linkedin, .telegram, .email, .htb-icon {
        margin: 0 5px;
    }

    .tech_left, .tech_right, .soft-left, .soft-right {
        margin-top: 0 !important;
    }

    #view_milestones {
        margin-top: 10px !important;
    }

}

/*  =================================================================================
                                      milestone
    ================================================================================= */

.timeline {

	position: relative;

	&::before {
		content: '';
		background: #d9534f;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.timeline-item {
	width: 100%;
	margin-bottom: 70px;

	&:nth-child(even) {

		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;

			.date {
				right: auto;
				left: 0;
			}

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #f5f5f5 transparent transparent;
			}
		}
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
	}
}

.timeline-dot {
	width: 30px;
	height: 30px;
	background: black;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

.timeline-image {
  width: 100%;                
  max-width: 400px; 
  height: 200px;       
  object-fit: cover;    
  border-radius: 8px;
  margin-top: 15px;
  display: block;
  object-fit: contain;
}

.date {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #888;
  margin-bottom: 10px;
  position: static;
  background: none;
  padding: 0;
}

.timeline-subheaders {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .date-left,
  .date-right {
    color: #888;
    font-weight: bold;
  }

.timeline-card {
	padding: 0!important;

	p {
		padding: 0 20px;
	}

	a {
		margin-left: 20px;
	}
}

.timeline-img-header {

	height: 200px;
	position: relative;
	margin-bottom: 20px;

	h2 {
		color: red;
		position: absolute;
		bottom: 5px;
		left: 20px;
	}
}

blockquote {
	margin-top: 30px;
	color: white;
	border-left-color: black;
	padding: 0 20px;
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		.timeline-dot {
			left: 50px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;

				}
			}

			&:nth-child(odd) {

				.timeline-content {
					
					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #f5f5f5 transparent transparent;
					}
				}

			}
		}
	}
	
}