@charset "utf-8";

body {
    background-color: #222431;
    color: white;
}


.nav-link:hover {
    transform: scale(0.9);
    transition: all 0.5s;
}

.navbar {
    background: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar-toggler-icon i {
    color: rgba(220, 53, 69, 0.8) !important;
}


footer {
    background-color: rgba(220, 53, 69, 0.6); /* Background color */
    color: white; /* Text color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center text */
    width: 100%;
    margin-top: 15vh;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.qlinks a {
    color: white;
    text-decoration: none; 
}

.follow-me a {
    text-decoration: none; 
    color: inherit; 
}

.icons {
    position: relative;
    flex-wrap: wrap;
    list-style: none;
}

.icons a {
    text-decoration: none; 
    color: inherit; 
}


.instagram, .github, .linkedin, .telegram, .email, .htb-icon {
    font-size: 5em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.htb-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle; 
    filter: brightness(0) invert(1);
    margin-bottom: 20px;
}

.instagram:hover, .github:hover, .linkedin:hover, .telegram:hover, .email:hover, .htb-icon:hover {
    transform: translateY(-10px)
}


/*  =================================================================================
                              General Template Style
    ================================================================================= */

h3, h4, h5 {
    margin-top: 3rem;  
}

p {
    color: rgba(255, 255, 255, 0.7); 
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*  =================================================================================
                                        Up Button
    ================================================================================= */

.scroll-to-top-btn {
    position: fixed;
    bottom: 80vh;
    right: 6vw;
    background-color: rgba(220, 53, 69, 0.6);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 1s ease-in-out; 
    opacity: 0;
    display: block; 
}

.scroll-to-top-btn.scrolled {
    opacity: 1;
}

.scroll-to-top-btn:hover {
    transform: scale(0.9);
    transition: all 0.5s;
}

/*  =================================================================================
                                      Template related
    ================================================================================= */


.container-lg {
    max-width: 900px;      /* or any width you want, like 800px or 70% */
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;    /* optional, adds a little breathing room on mobile */
    padding-right: 120px;
}

#header {
    margin-top: 30vh;
}

#template-header-title {
    font-size: xx-large;
}

#template-header-date {
    font-size: large;
}

#table-of-content {
    width: 100%;
    margin-bottom: 10vh;
}

#template-header-btn {
    text-align: left;
    color: white;
    font-weight: bold;
    background: #626880;
    font-size: large;
    border: none; 
    padding: 0.5rem 1rem; 
}

#toc-icon {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
}

#tocList {
    padding: 0; 
    margin: 0; 
    background: #626880;
}

.list-group-item {
    color: white; 
    background: #626880; 
    padding: -1;
    border: none; 
}

#list-item {
    color: inherit;
    background: inherit;
    text-decoration: none;
}

.sub-list {
    list-style-type: circle;
    padding-left: 1.5rem;  /* controls indentation */
    margin: 0;
}

.sub-list li {
    margin-bottom: 0.25rem;
}

.sub-list a {
    color: inherit;
    text-decoration: none;
}

.sub-list li::marker {
    font-size: 0.8em;  /* make the bullet bigger */
}


/*  =================================================================================
                                        resize
    ================================================================================= */

@media (max-width: 768px) {

    h3, h4, h5 {
        margin-top: 2rem;
    }

    #header {
        margin-top: 10vh;
    }

    .container-lg {
        padding-left: 20px;
        padding-right: 20px;
    }

    .scroll-to-top-btn {
        display: none !important;
    }

    #content h3:first-of-type {
        margin-top: -6vh !important; 
    }

    footer {
        margin-top: 5vh;
    }

}

@media (max-width: 480px) {

    h3, h4, h5 {
        margin-top: 2rem !important;
    }

    #header {
        margin-top: 10vh;
    }
  
    .container-lg {
        padding-left: 20px;
        padding-right: 20px;
    }

    .scroll-to-top-btn {
        display: none !important;
    }

    #content h3:first-of-type {
        margin-top: -6vh !important; 
    }
    
    footer {
        margin-top: 5vh;
    }
}